a {
    text-decoration: none;
}

.main-header-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 434px;
}

.main-header-internal-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.slogan {
    font-family: 'Newsreader-regular';
    font-size: clamp(36px, 6.27vw, 64px);
    font-weight: normal;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px; 
    line-height: 1.2;
    word-spacing: -4px;
}

.italic-family {
    font-family: 'Newsreader-italic';
}

.main-shop {
    padding: 19px 32px;
    font-size: clamp(14px, 1.97vw, 20px);
    color: var(--color-light);
    background-color: var(--color-green);
    border-radius: var(--border-radius);
    margin-top: 40px;

    transition: background-color var(--transition-duration)
}

@media (hover: hover) and (pointer: fine) {
    .main-shop:hover {
        background-color: var(--color-light-green)
    }
}

@media (max-width: 600px) {
    .main-shop {
        padding: 13px 22px;
    }
}