a {
    text-decoration: none;
}

.header-button-main-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 434px;
}

.header-button-internal-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.content-header {
    font-family: 'Newsreader-regular';
    font-size: 64px;
    font-weight: normal;
    text-align: center;
    width: 1020px;
    height: 154px;
    margin-left: 20px;
    margin-right: 20px; 
    line-height: 1.2;
    word-spacing: -4px;
}

.italic-family {
    font-family: 'Newsreader-italic';
}

.main-shop {
    padding: 19px 32px;
    font-size: 20px;
    color: var(--color-light);
    background-color: var(--color-green);
    border-radius: var(--border-radius);
    margin-top: 40px;

    transition: background-color var(--transition-duration)
}

@media (hover: hover) and (pointer: fine) {
    .main-shop:hover {
        background-color: var(--color-light-green)
    }
}

@media (max-width: 1048px) {
    .content-header {
        width: auto;
        height: auto;
        word-spacing: 0px
    }
}

@media (max-width: 707px) {
    .content-header {
        font-size: 36px;
    }

    .main-shop {
        padding: 13px 22px;
    }
}