@font-face {
    font-family: 'Inter-regular';
    src: url('../assets/fonts/Inter/Inter24pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-semibold';
    src: url('../assets/fonts/Inter/Inter24pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader-regular';
    src: url('../assets/fonts/Newsreader/Newsreader24pt-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader-italic';
    src: url('../assets/fonts/Newsreader/Newsreader24pt-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Newsreader-medium';
    src: url('../assets/fonts/Newsreader/Newsreader24pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }

 ul {
   list-style-type: none;
 }
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Плавный скролл
    */
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.6;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 }

:root {
    --color-light: #FFFFFF;
    --color-light-green: #558a26;
    --color-green: #426B1F;
    --color-dark: #000000;

    --border-radius: 8px;

    --font-family-base: "Inter-regular", sans-serif;

    --transition-duration: 0.2s;
}

body {
    background-color: var(--color-light);
    font-family: var(--font-family-base)
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.header {
  padding: 32px 96px 32px 96px;
  line-height: 1.2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-container {
  display: inline-flex;
  align-items: center;
  column-gap: 48px;
}

.action-button {
  display: flex;
  font-size: 16px;
  column-gap: 42px;
}

ul.action-button li a {
  text-decoration: none;
  color: var(--color-dark);
  transition: color var(--transition-duration)
}

.basket {
  font-family: "Inter-semibold", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: var(--color-light);
  background-color: var(--color-green);
  padding: 14px 23px;

  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration);
}

.logo {
  font-family: "Newsreader-medium";
  font-size: 32px;
  text-decoration: none;
  height: 32px;
  color: var(--color-green);

  transition: color var(--transition-duration)
}

@media (hover: hover) and (pointer: fine) {
  ul.action-button li a:hover {
    color: var(--color-green)
  }

  .basket:hover {
    background-color: var(--color-light-green);
  }

  .logo:hover {
    color: var(--color-light-green)
  }
}

@media (max-width: 964px) {
  .nav {
    column-gap: 30px;
  }

  .button-container {
    justify-content: flex-end;
    flex-wrap: wrap-reverse;
    column-gap: 10px;
  }

  .action-button {
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 10px;
    row-gap: 3px
  }
}

@media (max-width: 806px) {
  .header {
    padding: 16px 48px 16px 48px;
  }
}
